:root{
  --primary-color: #0097B2;
  --background-color:black;
  --secondary-background-color: #2B2B2B;

  --heading-font-size: 2rem;
  --heading-font-weight: 900;
  --heading-font-color: white;
  
  --text-color: white;
  --text-font-weight: 400;
  --text-font-size: 1rem;
  --font-family: 'Poppins', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 55px;
}
section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  /* display: flex; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  border-radius: 20px;
  font: var(--text-font-weight) var(--text-font-size)/1.5 var(--font-family);
}
img {
  max-width: 300px;
  height: auto;
  padding: 5px;
}
h1, h2, h3,h4,h5,h6,p,span {
  font-family: var(--font-family);
  color: var(--heading-font-color);
  margin-bottom: 10px;
}
h1 {
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  margin-bottom: 20px;
  color: var(--primary-color);
}
h3{
  font-size: 1.5rem;
  font-weight: 600;
}
h5 {
  font-weight: 300;
  text-align: center ;
}

img {
  max-width: 300px;
  height: auto;
}
.infoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 10px;
}


/* section 2 */

.CelebritySection2{
background-image: url('../../../images/celebrityManagePage/celebrityManagePage-image2.png');
  background-size: auto 100%;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infoContainer2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin: 10px;
  width: 100%;
}

.serviceCard{
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.serviceCard p{
  margin: 0;
}
.serviceCard h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: start;
}


/* section 4 */
.CelebritySection4{
  max-width: 800px;
}
.industry-cards{
  display: flex;
  
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}
.card-column-1, .card-column-2, .card-column-3 {
  flex: 1;
  display: flex;

  align-items: center;
  justify-content: center;
}

.industry-card{
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  min-width: 150px;
  margin: 0 5px;
  border: 1px solid var(--primary-color);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
 height: 120px;
}
.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px var(--primary-color);
}

/* section 5 */



@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }

  img {
    max-width: 150px;
  }

  
  .infoContainer {
    flex-direction: column;
    align-items: center;
  }
  .infoContainer div {
    text-align: center;
  }

  /* section 3 */
   .industry-cards{
         flex-direction: column;
  flex-wrap: wrap;
  }

 .card-column-2{
  margin: 10px 0;
 }

}