@font-face {
  font-family: "HeadingFont";
  src: url("../../../fonts/DELIRIUM_NCV.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #0097b2;
  --secondary-color: #00bfff;
  --background-color: black;
  --text-color: white;
  --heading-font-size: 6rem;
  --heading-font-weight: 800;
  --heading-font-color: #0097b2;

  --text-font-weight: 400;
  --text-font-size: 1rem;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding-top: 45px;
}

section {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  font: var(--text-font-weight) var(--text-font-size) / 1.5 var(--font-family);
}

#aboutUsHeading {
  padding: 20px;
  color: var(--heading-font-color);
  height: 68px;

  font-family: "HeadingFont";

  font-weight: 700;
  font-size: var(--heading-font-size);

  border-radius: 16px;
  padding: 1rem;
  /* box-shadow: 0 20px 40px rgba(46, 46, 46, 0.301),
    0 10px 20px rgba(48, 48, 48, 0.219); */
  transform: scale(0.96);
  transition: all 0.4s ease;
  opacity: 0;
  animation: popIn 0.6s ease-out forwards;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

/* Animation: pop in */
@keyframes popIn {
  0% {
    transform: scale(0.96) translateY(30px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

#section1 {
  /* flex: 2; */
  padding-right: 20px;
}
#section2 {
  flex: 1;
  padding-left: 20px;
  background-color: #0097b2;
}

#section3 {
  flex: 1;
  padding-left: 20px;
}

#section4 {
  flex: 1;
  padding-left: 20px;
}

#section5 span {
  text-align: center;
}

.text-section {
  flex: 1;
  padding-left: 20px;
  min-width: 300px;
  max-width: 50%;
  margin: auto;
}
.image-section {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
  min-width: 250px;
}
.image-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 780px) {
  section {
    flex-direction: column;
    padding: 10px;
  }
  h1 {
    font-size: 1.7rem;
  }
  #aboutUsHeading {
    margin: 2rem auto;
  }

  .text-section,
  .image-section {
    max-width: 100%;
  }
  #section1,
  #section2,
  #section3,
  #section4 {
    padding: 10px;
  }

  #section2 {
    flex-direction: column-reverse;
  }
  #section4 {
    flex-direction: column-reverse;
  }
}
