@font-face {
  font-family: "HeadingFont";
  src: url("../../../fonts/DELIRIUM_NCV.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #0097b2;
  --background-color: black;
  --secondary-background-color: #2b2b2b;

  --heading-font-size: 6rem;
  --heading-font-size-mobile: 5rem;
  --heading-font-weight: 900;
  --heading-font-color: white;
  --heading-font-family: "HeadingFont";

  --text-color: white;
  --text-font-weight: 400;
  --text-font-size: 1rem;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 55px;
}
section {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 20px;
  font: var(--text-font-weight) var(--text-font-size) / 1.5 var(--font-family);
}
img {
  max-width: 300px;
  height: auto;
  padding: 5px;
}

h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: var(--font-family);
  color: var(--heading-font-color);
  /* margin-bottom: 10px; */
}
h1 {
  font: italic var(--heading-font-weight) 4rem "Fira Sans", sans-serif;

  font: var(--heading-font-weight) var(--heading-font-size)
    var(--heading-font-family);
  letter-spacing: 0.5rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h5 {
  font-weight: 300;
  text-align: center;
}

img {
  max-width: 300px;
  height: auto;
}
/* section1 */
.section1Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section1 > h1 {
  /* background-color: red; */
  border-radius: 16px;
  padding: 1rem;
  /* box-shadow: 0 20px 40px rgba(63, 63, 63, 0.322),
    0 10px 20px rgba(100, 100, 100, 0.26); */
  transform: scale(0.96);
  transition: all 0.4s ease;
  opacity: 0;
  animation: popIn 0.6s ease-out forwards;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  margin: auto;
  margin-bottom: 20px;
}

/* Animation: pop in */
@keyframes popIn {
  0% {
    transform: scale(0.96) translateY(30px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

/* section2 */
.section2 {
  background-color: var(--primary-color);
  margin-top: -60px;
  padding-top: 20px;
}

.section2Contents {
  align-items: center;

  position: relative;
}

.card {
  max-width: 500px;
  background-color: var(--background-color);
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  margin-left: auto;
}
.card1 {
  margin-right: 30vw;
}
.card2 {
  margin-right: 7vw;
}
.card3 {
  margin-right: 1vw;
}
.card4 {
  margin-right: 7vw;
}
.card5 {
  margin-right: 30vw;
}

.image2 {
  position: absolute;
  width: 2rem;
  top: calc(50% - 150px);
}
.image2 img {
  width: 30vw;
}

/* section3 */

.section3 {
  max-width: 900px;
  width: 100%;
  background-color: var(--secondary-background-color);
  margin: 20px 0;
  justify-self: center;
  padding: 2rem;
}

/* section4 */

.industry-cards {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
}
.card-column-1,
.card-column-2,
.card-column-3 {
  flex: 1;
  display: flex;

  align-items: center;
  justify-content: center;
}

.industry-card {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  min-width: 150px;
  margin: 0 5px;
  border: 1px solid var(--primary-color);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 120px;
}
.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px var(--primary-color);
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: var(--heading-font-size-mobile);
    letter-spacing: 0.2px;
  }
  h3 {
    font-size: 1.1rem;
  }

  img {
    max-width: 200px;
  }
  .section1Content {
    flex-direction: column;
  }

  /* section2 */
  .card {
    margin-right: 0;
    /* align-items:center ; */
    margin-left: auto;
    margin-right: auto;
  }
  .image2 {
    display: none;
  }

  /* section4 */
  .industry-cards {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card-column-2 {
    margin: 10px 0;
  }
}
